server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST};

  location / {
    root /usr/share/nginx/html;
  }

  location /opengrok/ruby {
    rewrite ^/opengrok/ruby/(.+) $1 break;
    proxy_pass http://${NGINX_HOST}:8888/$1;
  }
}
