server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST};

  location / {
#    proxy_set_header Host $http_host;
    proxy_pass http://${NGINX_HOST}:3000;
  }

  location /sub/ {
    rewrite ^/sub(.*)$ http://${NGINX_HOST}:3001$1 permanent;
  }
}
